/* =================================
  BASE ELEMENT STYLES
==================================== */

* {
 box-sizing: border-box;
}

/** STYLING **/

.menu,
body {
    font-family: 'Droid Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height 100vh;
}

.row {
    flex: 1;
}

/***********************
HOME PAGE
***********************/

/*** SIDEBAR ***/

#directions-info,
#gamer-info,
#contact-info,
#about-info {
    display: none;
}

.sideBar {
    background-color: #42CFBC;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    border-radius: 15px;
    margin: 10px 15px 15px 15px;
    padding: 1px;
    text-align: center;
}

.sidebar-hours {
    line-height: .5;
}

.sidebar-info {
    padding-top: 5px;
    line-height: .7;
    padding-bottom: 10px;
}

.phone-image {
    height: 1em;
}

.facebook-image,
.twitter-image {
    padding: 10px 10px 0;
}

    /** SECTIONS **/

.homepage-image,
.homepage-image2 {
    display: none;
}

.section {
    background-color: lightcyan;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}

.calendar {
    padding: 25px;
}

    /** ABOUT **/

.about p {
    font-size: 90%;
}

   /** GAMES **/

.twitter {
    max-width: 100%;
}

    /** FOOTER **/

.mainFooter {
    text-align: center;
    padding: 2em 0;
	background-color: lightgreen;
}


/***********************
ABOUT PAGE
***********************/

.aboutImage {
    width: 90%;
    border-radius: 15px;
}

.aboutFull {
    margin: 10%;
}


/***********************
CONTACT PAGE
***********************/

.contactContainer {
    margin: 10%;
    
}

/** FORM **/

label ,
button {
    display: block;
    margin-bottom: 10px;
    padding-top: 5px
}

.submit {
    background-color: lightcoral;
    color: aqua;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
}

form {
    background: #e0e0eb;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
}


/***********************
GAMER CLUB PAGE
***********************/

.gamerClub {
    margin: 10%;    
}

.club-list {
    display: flex;
    flex-direction: row;
}

.club-list li {
    text-decoration: none;
    background-color: lightgreen;
    color: darkcyan;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}


/***********************
DIRECTIONS PAGE
***********************/

.directionsContainer {
    margin: 10%;
}

#map {
    width: 100%;
    height: 350px;   
}

#floating-panel {        
    background-color: #fff;
    padding: 10px;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
}

#end {
    max-width: 230px;
}

#btnGo {
    border-radius: 5px;
    color: blue;
    background-color: azure;
    border-color: antiquewhite;
    margin-top: 25px;
}

.directions-text {
    line-height: .8em;
    margin-top: -10px;
    padding-left: 40px;
}


/* =================================
MEDIA QUERIES
==================================== */


@media (min-width: 769px) {

    .hidden-hours {
        display: none;
    }
    
    .container,
    .containertwo {
        max-width: 1000px;
        margin: 0 auto;
        margin-left: 250px;
        margin-right: 15px;
    }

    .homepage-image2 {
        display: block;
        max-height: 330px;
        align-content: center;
        border-radius: 15px;
        margin: 80px 15px 20px 260px;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
    }
    
    .about {
        margin-top: 10px;
    }

  /**SIDEBAR **/

    .sideBar,
    #directions-info,
    #gamer-info,
    #contact-info,
    #about-info {
        display: block;
        background: #6BB0FF;
        position: fixed;
        text-align: center;
        left: 20px;
        top: 35px;
        font-size: .8em;
        width: 200px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 20px;
        border-radius: 15px;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        margin: 0;
    }

/***********************
ABOUT PAGE
***********************/

    .aboutFull {
        margin-left: 250px;
        margin-top: 100px;
    }
    
    .aboutImage {
    float: left;
    padding: 10px;
    width: 50%;
    }

/***********************
CONTACT PAGE
***********************/
    
    .contactContainer {
        margin-left: 250px;
        margin-top: 100px;
    }

/***********************
GAMER CLUB PAGE
***********************/
    
    .gamerClub {
        margin-left: 250px;
        margin-top: 100px;
    }
    
/***********************
DIRECTIONS  PAGE
***********************/
    
    .directionsContainer {
        margin-left: 250px;
        margin-top: 100px;
    }

    body {
        height:100%;
    }

}


@media (min-width: 1025px) {

    .homepage-image2 {
        display: none;
    }
    
    .homepage-image {
        display: block;
        max-height: 330px;
        align-content: center;
        border-radius: 15px;
        margin: 80px 15px 20px 260px;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
    }
    .container,
    .containertwo {
        display: flex;
    }
    
    .containertwo {
        padding-bottom: 50px;
    }

    .section {
        flex-basis: 50%;
        flex: 1;
    }
    
    .homepage-image {
        max-width: 95%;
        height: 360px;
    }

}
